{% extends 'layout.html' %}
{% from 'macros.html' import icon %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3 class="lead">Category</h3>
            <div id="rounded">
                <div class=row>
                    <div class=col-md-12>            
               {%- for category in categories %}
                        <div class="row">
                             <div class=col-md-4>
                                <a
                                  class="btn btn-link cat-btn"
                                  href="{{ url_for('list_todos', name=category.name) }}">
                                    {{ category.name }}
                                </a>
                            </div>
                             <div class=col-md-4>
                                <a
                                   class="btn btn-sm btn-default cat-btn" href="{{ url_for('edit_category', category_id=category.id) }}">
                                    {{ icon('edit') }} Edit
                                </a>
                             </div>
                             <div class="col-md-pull-1 col-md-3">
                                <form id="catdel-{{ category.name }}" action="{{ url_for('delete_category', category_id=category.id) }}" method="post">
                                <a class="btn btn-sm btn-danger cat-btn" onclick="$('#catdel-{{ category.name }}').submit();">{{ icon('trash') }} Delete</a>
                                </form>
                             </div>
                        </div>                    
                {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% if todos|count > 0 %}
            <h3 class="lead">Todos</h3>
            <table id="todo-table" class="table">
               <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Creation date</th>
                    <th>Actions</th>
                </tr>
                {%- for todo in todos %}
                    <tr {% if todo.is_done %}class="success"{% endif %}>
                        <td> {{ loop.index }} </td>
                        <td {% if todo.is_done %}style="text-decoration:line-through"{% endif %}>{{ todo.description }}</td>
                        <td>{{ todo.category.name }}</td>
                        <td>{{ todo.priority.name }}</td>
                        <td>{{ todo.creation_date }}</td>
                        <td>
                            <a class="btn btn-xs btn-default{% if todo.is_done %} disabled{% endif %}"  href="{{ url_for('update_todo', todo_id=todo.id) }}" >{{ icon('edit') }} Edit</a>
                            <form id="delform-{{ todo.id }}" action="{{ url_for('delete_todo', todo_id=todo.id) }}" method="post">
                                {#<input class="btn btn-xs btn-danger" type="submit" name="delete_todo" value="Delete">#}
                                <a onclick="$('#delform-{{ todo.id }}').submit();" class="btn btn-xs btn-danger" id="delete_todo" href="#">{{ icon('trash') }} Delete</a>
                            </form>
                            {% if not todo.is_done %}
                                <form id="isdone-{{ todo.id }}" action="{{ url_for('mark_done', todo_id=todo.id) }}" method="post">
                                    <a onclick="$('#isdone-{{ todo.id }}').submit()" class="btn btn-xs btn-default" id="mark_done">{{ icon('check') }} Done</a>
                                </form>
                            {% else %}
                                <form id="undone-{{ todo.id }}" action="{{ url_for('un_mark_done', todo_id=todo.id) }}" method="post">
                                    <a onclick="$('#undone-{{ todo.id }}').submit()" class="btn btn-xs btn-default" id="undo">{{ icon('check') }} Reopen</a>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {%- endfor %}
            </table>
            {% else %}
            <h3 class=lead>No Todos Yet</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
