{% extends "layout.html" %}
{% block content %}
    <div class=row>
        <div class=col-md-12>
            <form action="" method=post>
                <fieldset>
                    <legend>{%- if todo is defined %} Edit {% else %} Create new {% endif -%}Todo</legend>
                    <div class="form-group">
                    <!--{#
                    <select class="selectpicker" name="category" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {%if todo is defined %}{% if todo.category_id == category.id %} selected {% endif %}{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    #}-->
                   {{ form.category(class_='form-control selectpicker') }}
                    </div>
                </fieldset>
                <fieldset>                   
                    <div class="form-group">     
                    <!--{#
                    <select class="selectpicker" name="priority" required>
                        {% for priority in priorities %}
                                <option value="{{ priority.id }}" {% if todo is defined %}{% if todo.priority_id == priority.id %} selected {% endif %}{% endif %}>{{ priority.name }}</option>
                        {% endfor %}
                    </select>
                   #}-->
                        {{ form.priority(class_='selectpicker form-control') }}
                    </div>
                </fieldset> 
                <fieldset>       
                    <div class="form-group">              
                    <!--{#
                    <input 
                        type="text" 
                        id="description" 
                        name="description" 
                        maxlength="60" 
                        class="form-control input-xlarge"
                        placeholder="Describe TODO" 
                        {% if todo is defined -%}
                            value="{{ todo.description }}"
                        {% endif -%}
                        required
                      />
                    #}-->
                    {{ form.description(class_='form-control',placeholder='category') }}
                    </div>
                </fieldset>
                <div class="form-group">
                         <button id="submit" type="submit" class="btn btn-success">
                                {% if todo %}
                                    Save
                                {% else %}
                                    Create Todo
                                {% endif %}
                           </button>
                </div>
        </form>
    </div>
</div>
{% endblock %}
