{% extends "form-base.html" %}
{% block form_content %}
    <form action="" method=post class="form-horizontal">

            <fieldset>
            <div class="form-group">
                <label><h2>{% if category is defined -%}
                            Edit category
                        {%- else -%}
                            Create new category
                        {%- endif %}</h2></label>
                        <input type="text" id="category" name="category" maxlength="20" class="input-lg form-control"#}
                               placeholder="Please give category"{% if category is defined %} value="{{ category.name }}"{% endif %}
                               autofocus=1 required>
            </div>
            </fieldset>
            <div class="form-group">
             <button type="submit" class="btn btn-success">
                {% if category %}
                    Save
                {% else %}
                    Create category
                {% endif %}
             </button>
            </div>
    </form>
{% endblock %}
